---
---

@import "{{ site.theme }}";

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: bold;
}

h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
  font-weight: bold;
  text-decoration: underline;
}

a:hover, a:focus {
  font-weight: normal;
  text-decoration: underline;
}

a:hover small {
  font-weight: normal;
  text-decoration: underline;
}
