<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="sidebar">
          <h3><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/">Projects</a></h3>
          <li><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/Week_Four/index.md">Week 4 — <i>Tears of the Kingdom</i> Korok GIF</a></li>
          <li><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/Week_Five/index.md">Week 5 — The Real-World Settlements Featured in <i>Fallout 76</i></a></li>
          <li><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/Week_Six/index.html">Week 6 — Virtual <i>I Ching</i></a></li>
          <li><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/Week_Seven/index.html">Week 7 — <i>Don't you want to go home?</i></a></li>
          <li><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/Week_Eight/index.html">Week 8 — My Tracery Generator</a></li>
          <li><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/Week_Nine/index.html">Week 9 — Investigating Legge's <i>Tao Te Ching</i> Translation through Voyant Tools and Twine</i></a></li>
          <li><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/Week_Ten/index.md">Week 10 — "What does an Appalachian game look like, ChatGPT?"</a></li>
          <li><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/Week_Twelve/index.md">Week 12 — p5.js Text Click Experiments</a></li>
          <li><a href="https://jmlwhittington.github.io/TT_CriticalMaking_Portfolio/Projects/Week_Thirteen/index.html">Week 13 — <i>Battleship on Foot</i></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
